{% extends "base.html" %}
{% block content %}
{% if page_obj %}

<div class="py-6 flex items-center justify-center sm:py-12">
    <script type="text/javascript">
        function submitForm() {
            document.movie_sort.submit();
        }
    </script>
    <h2 class="text-indigo-500 font-semibold text-xl">Sort by</h2>
    <form id=movie_sort" action="{% url 'movies' %}">
        <select name="movie_sort" onChange='this.form.submit();' class="select ml-1">
            <option value="latest" {% if movie_sort == 'latest' %} selected {% endif %}>Latest</option>
            <option value="oldest" {%  if movie_sort == 'oldest' %} selected {% endif %}>Oldest</option>
        </select>
        <input hidden type="text" name="search" {% if movie_query %} value="{{movie_query}}" {% endif %} >
    </form>
</div>
<div class="grid xl:grid-cols-2 gap-0 lg:gap-4 xl:mx-32 items-center justify-center grid-cols-1">
    {% for movie in page_obj %}
    <a href="{% url 'detail' movie.id %}">
        <div class="max-h-96 py-6 flex flex-col max-w-min items-center justify-center sm:py-12">
            <div class="py-3 sm:max-w-xl sm:mx-auto">
                <div class="bg-white shadow-lg  border-gray-100 max-h-80	 border sm:rounded-3xl p-8 flex space-x-8">
                    <div class="h-48 overflow-visible w-1/2">
                        <img class="rounded-3xl h-72 shadow-lg object-contain" src="{{ movie.poster.url }}"
                             alt="Poster">
                    </div>
                    <div class="flex flex-col w-1/2 space-y-4">
                        <div class="flex justify-between items-start">
                            <h2 class="text-3xl font-bold">{{ movie.title }}</h2>
                            {% if movie.average_rating  == None %}
                                <div class="bg-yellow-400 font-bold rounded-xl p-2">{{ movie.average_rating }}</div>
                            {% else %}
                                <div class="bg-yellow-400 font-bold rounded-xl p-2">{{ movie.average_rating | floatformat:1 }}</div>
                            {% endif %}
                        </div>
                        <div>
                            <div class="text-lg text-gray-800">{{ movie.release_year }}</div>
                        </div>
                        <p class=" text-gray-400 max-h-40 overflow-y-hidden truncate">{{ movie.description }}</p>
                    </div>

                </div>
            </div>

        </div>
    </a>
    {% endfor %}

</div>
    <div class="btn-group text-center flex justify-center  mt-12 mb-16 pagination">
    {% if page_obj.has_previous %}
    <a class="btn pagination-action" href="?page=1">
        <<
    </a>
    <a class="btn pagination-action" href="?page={{ page_obj.previous_page_number }}">
        <
    </a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <span class="btn btn-outline btn-active pagination-number pagination-current">{{ num }}</span>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn pagination-number" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a class="btn pagination-action" href="?page={{ page_obj.next_page_number }}">
            >
        </a>
        <a class="btn pagination-action" href="?page={{ page_obj.paginator.num_pages }}">
            >>
        </a>
    {% endif %}
</div>
{% else %}
<p>No movies are available.</p>
{% endif %}

{% endblock %}